<!--
  Generated template for the UpdateDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Update Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="login">
  <div class="login-content">
    <h5 ion-text color="secondary">Address Details</h5>

    <ion-item no-padding>
      <ion-label color="dark" stacked>Address:</ion-label>
      <ion-input
        type="text"
        placeholder="Enter Address"
        [(ngModel)]="users.address"
        style="color: black;border-bottom: 1px solid #91B5AF;"
      ></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label color="dark" stacked>State:</ion-label>
      <ion-select
        [(ngModel)]="users.stateid"
        (ionChange)="onStateChange($event)"
        placeholder="Select State"
        style="color: black;border-bottom: 1px solid #91B5AF;"
      >
        <ion-option *ngFor="let state of states" value="{{state.int_state_id}}"
          >{{ state.str_state_name }}</ion-option
        >
      </ion-select>
    </ion-item>
    <ion-item no-padding>
      <ion-label color="dark" stacked>City:</ion-label>
      <ion-select
        [(ngModel)]="users.cityid"
        placeholder="Select City"
        style="color: black;border-bottom: 1px solid #91B5AF;"
      >
        <ion-option *ngFor="let city of cities" value="{{city.int_city_id}}"
          >{{ city.str_city_name }}</ion-option
        >
      </ion-select>
    </ion-item>
    <ion-item no-padding>
      <ion-label color="dark" stacked>Zip Code:</ion-label>
      <ion-input
        type="text"
        placeholder="Enter Zip Code"
        [(ngModel)]="users.zipcode"
        style="color: black;border-bottom: 1px solid #91B5AF;"
      ></ion-input>
    </ion-item>

    <h5 ion-text color="secondary">Organization Details</h5>

    <ion-item no-padding>
      <ion-label color="dark" stacked>State:</ion-label>
      <ion-select
        [(ngModel)]="users.orgstateid"
        (ionChange)="onOrgStateChange($event)"
        placeholder="Select State"
        style="color: black;border-bottom: 1px solid #91B5AF;"
      >
        <ion-option
          *ngFor="let state of states"
          value="{{state.int_state_id}}"
          style="color: black;border-bottom: 1px solid #91B5AF;"
          >{{ state.str_state_name }}</ion-option
        >
      </ion-select>
    </ion-item>
    <ion-item no-padding>
      <ion-label color="dark" stacked>City:</ion-label>
      <ion-select
        [(ngModel)]="users.orgcityid"
        placeholder="Select City"
        style="color: black;border-bottom: 1px solid #91B5AF;"
      >
        <ion-option
          *ngFor="let city of citiesorg"
          (ioChange)="onChange()"
          value="{{city.int_city_id}}"
          >{{ city.str_city_name }}</ion-option
        >
      </ion-select>
    </ion-item>
    <ion-item no-padding style="display: none;">
      <ion-label color="dark" stacked>Organization Type:</ion-label>
      <ion-select
        [(ngModel)]="users.orgtypeid"
        placeholder="Select Organization Type"
        style="color: black;border-bottom: 1px solid #91B5AF;"
      >
        <ion-option
          *ngFor="let type of orgType"
          (ioChange)="onChange()"
          value="{{type.int_organization_type_id}}"
          >{{ type.str_organization_type }}</ion-option
        >
      </ion-select>
    </ion-item>
    <ion-item no-padding>
      <ion-label color="dark" stacked>Organization:</ion-label>
      <ion-select
        [(ngModel)]="users.orgid"
        placeholder="Select Organization"
        style="color: black;border-bottom: 1px solid #91B5AF;"
      >
        <ion-option
          *ngFor="let org of orgs"
          (ioChange)="onChange()"
          value="{{org.int_organization_id}}"
          >{{ org.str_organization_name }}</ion-option
        >
      </ion-select>
    </ion-item>
    <button
      ion-button
      icon-start
      block
      color="dark"
      tappable
      (click)="updateDetails()"
    >
      <ion-icon name="log-in"></ion-icon>
      UPDATE
    </button>
  </div>
</ion-content>
